<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% if page.title %}{{ page.title }}{% else %}{{ site.name }}{% endif %}</title>

	<!-- CSS -->
	<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css" type="text/css">

	<!-- Font -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css' rel='stylesheet' type='text/css'>
	<link href="https://fonts.googleapis.com/css?family=Ubuntu+Mono" rel="stylesheet">

	<!-- carousel -->
	<link href="http://cdnjs.cloudflare.com/ajax/libs/semantic-ui/0.12.0/css/semantic.min.css" rel="stylesheet" />
	<link href="http://jeffry.in/old-jeffry-in/css/jeffry.in.css" rel="stylesheet" />
	<link href="http://jeffry.in/old-jeffry-in/css/jeffry.in.slider.css" rel="stylesheet" />
	<link href="http://fonts.googleapis.com/css?family=Lobster|Raleway:300,500,700" rel="stylesheet" />

	<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="http://cdn.jsdelivr.net/jquery.glide/1.0.6/jquery.glide.min.js"></script>

	<link href="{{ site.baseurl }}/assets/css/works.css" rel="stylesheet">

	<script src="{{ site.baseurl }}/assets/js/works.js"></script>
</head>

<body>
	<div class="content-container">
		<header>
			<div class="header-small">
				<a href="{{site.url}}{{site.baseurl}}">{{ site.name }}</a>
			</div>
		</header>

		<div class="page">
			<div class="page-title">{{ page.title }}</div>

			{{ content }}
		</div>
		
		{% include footer.html %}
	</div>
</body>
</html>


